@if (ViewBag.Status.ToString().Equals("Yes"))
{
    <div class="alert alert-success">
        Your payment is done
    </div>
}
else
{
    <div class="alert alert-warning">
        Your payment is not done
    </div>
}
